default.css

*{
  font-family: "Brandon Grotesque Medium";
}

body {
  background-color: white;
  display: block;
  margin: 8px;
  /*font-family: "Brandon Grotesque Medium";*/
  color: #464646;
}

/*a:hover {
  color: #6fbf98;
  background-color: white;
  text-decoration: underline;
}*/

#navBar {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 10px;
  width: 100%;
  height: 3em;
  /*background-color: #6fbf98;*/
  background-color: white;
  padding: 20px;
  border-bottom: 2px solid #d4d4d4;
}

/*#header section{
  width: 100%;
  margin: 0 auto;
}*/

#name {
  display:block;
  float:left;
  padding-top: .5em;
  padding-right: 75px;
  padding-left: 25px;
}

#name a{
  text-decoration: none;
  color: #464646;
  font-size: 1.5em;
  font-weight:100;
}

/*section ul {
  position: relative;
  top: -10px;
  display: inline-block;
  list-style-type: none;
}*/

#navBar li {
  display:inline;
  padding-right:30px;
  <!--margin-left: 30px;-->
}

.pagelink {
  display: inline;
  color: #464646;;
  text-decoration: none;
  font-size: 1em;
}

.socialinks {
  display: inline-block;
  float:right;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  padding-top: 10px;

}

.small-content {
  position: relative;
  width: 920px;
  margin: 0 auto;
   top: 5em;
}

/*.picture {
  width: 80%;
  height: 60%
}*/

.linkheader {
  position: relative;
  display: block;
  width: 920px;
  height: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  left: 1em;
}

.linkheader p {
  display: block;
  text-align: left;
  font-size: 18px;
  font-weight: 200;
  padding: 0px;
}

.linkheader a {
  text-decoration: none;
  color: #464646;
  font-size: 1em;
}

.viewing {
  display: block;
  text-align: right;
  font-size: 18px;
  /*font-weight: 200;*/
  padding: 50px;
}

/*.spacer a {
  font-size: 75%;
  display: table-cell;
  vertical-align: left;
  font-family: "Lato", sans-serif;
}*/

.snippet{
  position: relative;
  display: block;
  float: left;
  width:300px;
  height:320px;
  background-color: white;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 160px;
}

.snippet.last {
  margin-right: 0;
}

.snippet span {
  display: block;
  color:#464646;
  font-size: 1em;
  text-align: center;
  padding-top:10px;
}

.snippet-picture {
  display:block;
  margin: 0 auto;
  width:200px;
  height: 200px;
  padding-top:10px;
}


.blog{
  position: relative;
  display: block;
  float: left;
  width:300px;
  height:320px;
  /*background-color: white;*/
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 160px;
}

.blog.last {
  margin-right: 0;
}

.blog a {
  display: block;
  color:#464646;
  font-size: 1em;
  text-align: center;
  padding-top:10px;
}

.blog-picture {
  display:block;
  margin: 0 auto;
  width:200px;
  height: 200px;
  padding-top:10px;
}

.kitchen{
  position: relative;
  display: block;
  float: left;
  width:300px;
  height:320px;
  background-color: white;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 160px;
}

.kitchen.last {
  margin-right: 0;
}

.kitchen a {
  display: block;
  color:#464646;
  font-size: 1em;
  text-align: center;
  padding-top:10px;
}

.kitchen-picture {
  display:block;
  margin: 0 auto;
  width:200px;
  height: 200px;
  padding-top:10px;
}

.blog-soon {
  display:block;
  margin: 0 auto;
  width:200px;
  height: 200px;
  padding-top:10px;
}

#footer{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #bababa;
}

#footer div {
  width:920px;
  margin:0 auto;
}

#footer span {
  display:block;
  float:left;
  color:white;
  font-size: 1em;
  margin-top: 15px;
  padding-left: 25px;
}

#footer ul{
  display: block;
  float: right;
  margin-top: 10px;
}

#footer li {
  display: block;
  float:left;
  padding-right:10px;
}

a:hover {
  color: #6fbf98;
  background-color: white;
  text-decoration: underline;
}

#footer a {
  text-decoration: none;
  color: #464646;
  font-size: 1em;
  padding-left: 10px;
}