default.css

*{
  font-family: 'Signika', sans-serif;
}

body {
  background-color: white;
  display: block;
  margin: 8px;
  color: #464646;
}

#navBar {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 10px;
  width: 100%;
  height: 3.5em;
  /*background-color: #6fbf98;*/
  background-color: white;
  padding: 20px;
  border-bottom: 2px solid #d4d4d4;
}

#name {
  display:block;
  float:left;
  padding-right: 120px;
  padding-left: 25px;
}

#name a{
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  color: #464646;
  font-size: 3em;
  padding-right: 30px
}

/*section ul {
  position: relative;
  top: -10px;
  display: inline-block;
  list-style-type: none;
}*/

#navBar li {
  display:inline;
  padding-right:30px;
  <!--margin-left: 30px;-->
}

.pagelink {
  font-family: 'Signika', sans-serif;
  display: inline;
  color: #464646;
  text-decoration: none;
  font-size: 18px;
  padding-right: 30px;
}

.socialinks {
  display: inline-block;
  float: right;
  color: #464646;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-top: -15px;

}

.small-content {
  position: relative;
  width: 920px;
  margin: 0 auto;
  top: 5em;
}

.picture {
  padding-left: 60px;
}

.linkheader {
  position: relative;
  display: block;
  width: 920px;
  height: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
}

.linkheader p {
  font-family: 'Signika', sans-serif;
  display: block;
  text-align: left;
  font-size: 16px;
  border-bottom: 2px solid #d4d4d4;
}

.linkheader a {
  text-decoration: none;
  color: #464646;
  font-size: 1em;
}

.viewing {
  display: block;
  text-align: right;
  font-size: 14px;
  font-family: 'Signika', sans-serif;
  /* padding-top: -200px; */
  padding-right: 30px;
}

.snippet{
  position: relative;
  display: block;
  float: left;
  width:300px;
  height:220px;
  background-color: white;
  margin-top: 80px;
  margin-right: -60px;
  margin-left: -10px;
  margin-bottom: 150px;
}

.snippet span {
  display: block;
  color:#464646;
  font-size: 1em;
  text-align: center;
  padding-top:10px;
/*   padding-left: -40px;
  padding-right: -20px; */
}

.snippet-picture {
  display:block;
  margin: 0 auto;
  width:200px;
  height: 200px;
  padding-top: 10px;
}

.blog{
  position: relative;
  display: block;
  float: left;
  width:300px;
  height:320px;
  /*background-color: white;*/
  margin-top: 80px;
  margin-right: -60px;
  margin-left: -20px;
  margin-bottom: 40px;
}

.blog a {
  display: block;
  color:#464646;
  font-size: 1em;
  text-align: center;
  padding-top:10px;
}

.blog-picture {
  display:block;
  margin: 0 auto;
  width:200px;
  height: 200px;
  padding-top:10px;
}

.kitchen{
  position: relative;
  display: block;
  float: left;
  width:300px;
  height:320px;
  background-color: white;
  margin-top: 80px;
  margin-right: -60px;
  margin-left: -10px;
  margin-bottom: 5px;
}

.kitchen a {
  display: block;
  color:#464646;
  font-size: 1em;
  text-align: center;
  padding-top:10px;
}

.kitchen-picture {
  display:block;
  margin: 0 auto;
  width:200px;
  height: 200px;
  padding-top:10px;
}

.blog-soon {
  display:block;
  margin: 0 auto;
  width:200px;
  height: 200px;
  padding-top:10px;
}

#footer{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #bababa;
}

#footer div {
  width:920px;
  margin:0 auto;
}

#footer span {
  display:block;
  float:left;
  color:white;
  font-size: 12px;
  font-family: 'Signika', sans-serif;
  margin-top: 15px;
  padding-left: 15px;
}

#footer a{
  display: block;
  float: right;
  margin-top: 30px;
}

#footer li {
  display: block;
  float:left;
  padding-right:10px;
}

a:hover {
  color: #6fbf98;
  background-color: white;
  text-decoration: underline;
}

#footer a {
  text-decoration: none;
  color: #464646;
  font-size: 1em;
  padding-left: 10px;
}
